<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta cms_name="no-cache" http-equiv="pragma" content="no-cache">
    <meta cms_name="http-equiv" http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta cms_name="expires" http-equiv="Expires" content="0">
    <meta cms_name="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%- include('./assets/ejs/import-css') %>
    <%- include('./assets/ejs/import-js', {position: 'top'}) %>
    <script type="text/javascript">var first = {};</script>
    <%- include('./assets/ejs/import-link') %>
</head>
<body>
    <div id="pre-load">
        <div class="sk-spinner sk-spinner-three-bounce">
            <div class="sk-bounce1"></div>
            <div class="sk-bounce2"></div>
            <div class="sk-bounce3"></div>
        </div>
    </div>
    <nav class="nav navbar-default navbar-static-side js-nav">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu" style="display: block;">
                <li class="nav-header">
                    <div class="dropdown profile-element text-center">
                        <img class="nav-header-logo dis-inblock ver-middle m-r-5" src="assets/img/logo_app.png"/>
                        <h1 class="nav-title dis-inblock ver-middle"><strong></strong></h1>
                    </div>
                    <div class="logo-element">
                        Z
                    </div>
                </li>
                <%- menu %>
            </ul>
            <footer class="nav-footer hidden">
                <button type="button" id="button-about" data-modal="about" class="nav-footer-button">About</button>
                <div class="dropdown profile-element text-center">
                    <a class="nav-footer-logo" href="https://github.com" aria-label="Homepage">
                        <svg class="nav-footer-icon"><use xlink:href="assets/img/icons.svg#icon-love"></use></svg>
                    </a>
                </div>
            </footer>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
            </nav>
            <main class="content js-content"></main>
        </div>
    </div>

    <%- include('./assets/ejs/import-js', {position: 'bottom'}) %>
    <script type="text/javascript" src="./renderer-process/index_loading.js"></script>
    <script>
        require('./assets/imports')
        // require('./assets/ex-links')
        require('./assets/nav')
        // require('./assets/demo-btns')
        // require('./assets/code-blocks')
        // require('./assets/normalize-shortcuts')
    </script>
</body>
</html>
